In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv for rainfall data
rainfall_df = pd.read_csv("rainfall in india 1901-2015-FILTERED.csv")
rainfall_df

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,LAKSHADWEEP,2010,18.8,0.0,1.2,35.6,79.0,318.9,336.7,335.1,161.5,155.4,201.5,81.5,1725.2,18.8,115.8,1152.2,438.4
4107,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9,1533.7,7.9,196.2,1013.0,316.6
4108,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1
4109,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4110,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5

In [3]:
# filter data for only 2015
rainfall_2015_df = rainfall_df[rainfall_df['YEAR'] == 2015]
rainfall_2015_df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
109,ANDAMAN & NICOBAR,2015,126.8,7.6,3.1,138.2,331.9,346.4,328.9,480.0,523.3,252.1,236.3,129.9,2904.6,134.4,473.2,1678.6,618.4
206,ANDHRA PRADESH,2015,2.0,0.6,5.5,32.3,34.1,283.8,116.0,192.0,201.8,59.7,81.2,2.0,1010.9,2.5,71.9,793.6,142.8
321,ARUNACHAL PRADESH,2015,30.8,47.5,97.5,287.1,238.9,637.9,329.3,595.5,374.2,65.2,33.8,29.8,2767.5,78.3,623.5,1936.9,128.8
436,ASSAM,2015,13.4,15.5,37.5,250.9,332.5,558.5,300.1,590.9,279.9,62.6,14.0,15.2,2470.9,28.9,620.9,1729.3,91.8
551,BIHAR,2015,12.8,1.8,27.2,38.7,39.5,122.1,231.5,287.0,101.7,10.4,0.0,0.0,872.7,14.6,105.5,742.3,10.4

In [4]:
# dropped all but the 'SUBDIVISION' and 'ANNUAL' columns
annual_rainfall_2015_df = rainfall_2015_df[['SUBDIVISION', 'ANNUAL']]
annual_rainfall_2015_df

             SUBDIVISION  ANNUAL
109    ANDAMAN & NICOBAR  2904.6
206       ANDHRA PRADESH  1010.9
321    ARUNACHAL PRADESH  2767.5
436                ASSAM  2470.9
551                BIHAR   872.7
666           CHANDIGARH   435.3
781         CHHATTISGARH  1117.6
896                  GOA  2082.0
1011             GUJARAT   622.9
1126    HIMACHAL PRADESH  1210.5
1241     JAMMU & KASHMIR  1572.8
1356           JHARKHAND  1081.8
1471           KARNATAKA  3106.0
1700              KERALA  2600.6
1815         LAKSHADWEEP  1642.9
1930         MAHARASHTRA   644.5
2045      MADHYA PRADESH   939.2
2160          MATATHWADA   532.2
2275            NAGALAND  1922.4
2390              ORISSA  1210.1
2505              PUNJAB   510.8
2620           RAJASTHAN   650.7
2735          RAYALSEEMA  1047.1
2850  SAURASHTRA & KUTCH   441.7
2965              SIKKIM  2518.6
3080          TAMIL NADU  1204.6
3309           TELANGANA   857.3
3424       UTTAR PRADESH   603.3
3539         UTTARAKHAND  1247.6
3654            VIDARBHA   993.8
3769         WEST BENGAL  1530.3

In [6]:
# read cuisine csv
indian_food_df = pd.read_csv("Indian_Food_Cuisine.csv")
indian_food_df['state'] = indian_food_df['state'].str.upper()
indian_food_df.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,avg_rating,orders_num,num_rating
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,WEST BENGAL,East,4.0,20,10
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,RAJASTHAN,West,4.5,40,12
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,PUNJAB,North,4.6,50,30
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,RAJASTHAN,West,3.2,15,6
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,WEST BENGAL,East,3.0,18,8

In [7]:
# read in state codes
state_codes_df = pd.read_excel("State codes.xlsx")
state_codes_df.head()

                    STATE TWO-LETTER CODE
0  (FORMERLY UTTARANCHAL)             NaN
1       ANDAMAN & NICOBAR              AN
2          ANDHRA PRADESH              AP
3       ARUNACHAL PRADESH              AR
4                   ASSAM              AS

In [8]:
# merge the indian_food_df and state_codes_df dataframes on state
indian_food_codes_df = indian_food_df.merge(state_codes_df, left_on="state", right_on="STATE", how='inner')
indian_food_codes_df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,avg_rating,orders_num,num_rating,STATE,TWO-LETTER CODE
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,WEST BENGAL,East,4.00,20,10,WEST BENGAL,WB
1,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,WEST BENGAL,East,3.00,18,8,WEST BENGAL,WB
2,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,WEST BENGAL,East,2.10,30,10,WEST BENGAL,WB
3,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,WEST BENGAL,East,3.60,8,2,WEST BENGAL,WB
4,Cham cham,"Flour, cream, sugar, saffron, lemon juice, coc...",vegetarian,40,60,sweet,dessert,WEST BENGAL,East,3.40,22,20,WEST BENGAL,WB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Laapsi,"Cinnamon, jaggery, clarified butter, dry roasted",vegetarian,10,40,spicy,main course,MADHYA PRADESH,Central,2.22,41,40,MADHYA PRADESH,MP
214,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,MADHYA PRADESH,Central,3.20,2,1,MADHYA PRADESH,MP
215,Vindaloo,"Chicken, coconut oil, wine vinegar, ginger, gr...",non vegetarian,10,40,spicy,main course,GOA,West,1.30,4,1,GOA,GA
216,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,GOA,West,3.20,41,25,GOA,GA
217,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,GOA,West,4.40,3,1,GOA,GA

In [9]:
# drop the duplicate column "STATE" after merge
indian_food_codes_df = indian_food_codes_df.drop("STATE", axis = 1)
indian_food_codes_df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,avg_rating,orders_num,num_rating,TWO-LETTER CODE
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,WEST BENGAL,East,4.00,20,10,WB
1,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,WEST BENGAL,East,3.00,18,8,WB
2,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,WEST BENGAL,East,2.10,30,10,WB
3,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,WEST BENGAL,East,3.60,8,2,WB
4,Cham cham,"Flour, cream, sugar, saffron, lemon juice, coc...",vegetarian,40,60,sweet,dessert,WEST BENGAL,East,3.40,22,20,WB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Laapsi,"Cinnamon, jaggery, clarified butter, dry roasted",vegetarian,10,40,spicy,main course,MADHYA PRADESH,Central,2.22,41,40,MP
214,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,MADHYA PRADESH,Central,3.20,2,1,MP
215,Vindaloo,"Chicken, coconut oil, wine vinegar, ginger, gr...",non vegetarian,10,40,spicy,main course,GOA,West,1.30,4,1,GA
216,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,GOA,West,3.20,41,25,GA
217,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,GOA,West,4.40,3,1,GA

In [10]:
# rename "TWO-LETTER CODE" column to "State Code"
indian_food_codes_df = indian_food_codes_df.rename(columns={"TWO-LETTER CODE":"State Code"})
indian_food_codes_df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,avg_rating,orders_num,num_rating,State Code
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,WEST BENGAL,East,4.00,20,10,WB
1,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,WEST BENGAL,East,3.00,18,8,WB
2,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,WEST BENGAL,East,2.10,30,10,WB
3,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,WEST BENGAL,East,3.60,8,2,WB
4,Cham cham,"Flour, cream, sugar, saffron, lemon juice, coc...",vegetarian,40,60,sweet,dessert,WEST BENGAL,East,3.40,22,20,WB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Laapsi,"Cinnamon, jaggery, clarified butter, dry roasted",vegetarian,10,40,spicy,main course,MADHYA PRADESH,Central,2.22,41,40,MP
214,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,MADHYA PRADESH,Central,3.20,2,1,MP
215,Vindaloo,"Chicken, coconut oil, wine vinegar, ginger, gr...",non vegetarian,10,40,spicy,main course,GOA,West,1.30,4,1,GA
216,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,GOA,West,3.20,41,25,GA
217,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,GOA,West,4.40,3,1,GA

In [11]:
# merge annual_rainfall_2015_codes_df and state_codes_df on "SUBDIVISION" and "STATE", respectively
annual_rainfall_2015_codes_df = annual_rainfall_2015_df.merge(state_codes_df, left_on="SUBDIVISION", right_on="STATE", how='inner')
annual_rainfall_2015_codes_df

          SUBDIVISION  ANNUAL              STATE TWO-LETTER CODE
0   ANDAMAN & NICOBAR  2904.6  ANDAMAN & NICOBAR              AN
1      ANDHRA PRADESH  1010.9     ANDHRA PRADESH              AP
2   ARUNACHAL PRADESH  2767.5  ARUNACHAL PRADESH              AR
3               ASSAM  2470.9              ASSAM              AS
4               BIHAR   872.7              BIHAR              BR
5          CHANDIGARH   435.3         CHANDIGARH              CH
6        CHHATTISGARH  1117.6       CHHATTISGARH              CG
7                 GOA  2082.0                GOA              GA
8             GUJARAT   622.9            GUJARAT              GJ
9    HIMACHAL PRADESH  1210.5   HIMACHAL PRADESH              HP
10    JAMMU & KASHMIR  1572.8    JAMMU & KASHMIR              JK
11          JHARKHAND  1081.8          JHARKHAND              JS
12          KARNATAKA  3106.0          KARNATAKA              KA
13             KERALA  2600.6             KERALA              KL
14        LAKSHADWEEP  1642.9        LAKSHADWEEP              LD
15        MAHARASHTRA   644.5        MAHARASHTRA              MH
16     MADHYA PRADESH   939.2     MADHYA PRADESH              MP
17           NAGALAND  1922.4           NAGALAND              NL
18             ORISSA  1210.1             ORISSA              OR
19             PUNJAB   510.8             PUNJAB              PB
20          RAJASTHAN   650.7          RAJASTHAN              RJ
21             SIKKIM  2518.6             SIKKIM              SK
22         TAMIL NADU  1204.6         TAMIL NADU              TN
23      UTTAR PRADESH   603.3      UTTAR PRADESH              UP
24        UTTARAKHAND  1247.6        UTTARAKHAND              UK
25        WEST BENGAL  1530.3        WEST BENGAL              WB

In [13]:
# drop the duplicate state name "SUBDIVISION" column
annual_rainfall_2015_codes_df = annual_rainfall_2015_codes_df.drop("SUBDIVISION", axis = 1)
annual_rainfall_2015_codes_df

    ANNUAL              STATE TWO-LETTER CODE
0   2904.6  ANDAMAN & NICOBAR              AN
1   1010.9     ANDHRA PRADESH              AP
2   2767.5  ARUNACHAL PRADESH              AR
3   2470.9              ASSAM              AS
4    872.7              BIHAR              BR
5    435.3         CHANDIGARH              CH
6   1117.6       CHHATTISGARH              CG
7   2082.0                GOA              GA
8    622.9            GUJARAT              GJ
9   1210.5   HIMACHAL PRADESH              HP
10  1572.8    JAMMU & KASHMIR              JK
11  1081.8          JHARKHAND              JS
12  3106.0          KARNATAKA              KA
13  2600.6             KERALA              KL
14  1642.9        LAKSHADWEEP              LD
15   644.5        MAHARASHTRA              MH
16   939.2     MADHYA PRADESH              MP
17  1922.4           NAGALAND              NL
18  1210.1             ORISSA              OR
19   510.8             PUNJAB              PB
20   650.7          RAJASTHAN              RJ
21  2518.6             SIKKIM              SK
22  1204.6         TAMIL NADU              TN
23   603.3      UTTAR PRADESH              UP
24  1247.6        UTTARAKHAND              UK
25  1530.3        WEST BENGAL              WB

In [17]:
# indian_food_rainfall_codes_df = indian_food_codes_df and annual_rainfall_2015_codes_df on "State Code" and "TWO-LETTER CODE", respectively
indian_food_rainfall_codes_df = indian_food_codes_df.merge(annual_rainfall_2015_codes_df, left_on="State Code", right_on="TWO-LETTER CODE", how = "left")
indian_food_rainfall_codes_df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,avg_rating,orders_num,num_rating,State Code,ANNUAL,STATE,TWO-LETTER CODE
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,WEST BENGAL,East,4.00,20,10,WB,1530.3,WEST BENGAL,WB
1,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,WEST BENGAL,East,3.00,18,8,WB,1530.3,WEST BENGAL,WB
2,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,WEST BENGAL,East,2.10,30,10,WB,1530.3,WEST BENGAL,WB
3,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,WEST BENGAL,East,3.60,8,2,WB,1530.3,WEST BENGAL,WB
4,Cham cham,"Flour, cream, sugar, saffron, lemon juice, coc...",vegetarian,40,60,sweet,dessert,WEST BENGAL,East,3.40,22,20,WB,1530.3,WEST BENGAL,WB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Laapsi,"Cinnamon, jaggery, clarified butter, dry roasted",vegetarian,10,40,spicy,main course,MADHYA PRADESH,Central,2.22,41,40,MP,939.2,MADHYA PRADESH,MP
214,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,MADHYA PRADESH,Central,3.20,2,1,MP,939.2,MADHYA PRADESH,MP
215,Vindaloo,"Chicken, coconut oil, wine vinegar, ginger, gr...",non vegetarian,10,40,spicy,main course,GOA,West,1.30,4,1,GA,2082.0,GOA,GA
216,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,GOA,West,3.20,41,25,GA,2082.0,GOA,GA
217,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,GOA,West,4.40,3,1,GA,2082.0,GOA,GA

In [18]:
# drop the "STATE" and "TWO-LETTER CODE" columns
indian_food_rainfall_codes_df = indian_food_rainfall_codes_df.drop(["STATE", "TWO-LETTER CODE"], axis =1)
indian_food_rainfall_codes_df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,avg_rating,orders_num,num_rating,State Code,ANNUAL
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,WEST BENGAL,East,4.00,20,10,WB,1530.3
1,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,WEST BENGAL,East,3.00,18,8,WB,1530.3
2,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,WEST BENGAL,East,2.10,30,10,WB,1530.3
3,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,WEST BENGAL,East,3.60,8,2,WB,1530.3
4,Cham cham,"Flour, cream, sugar, saffron, lemon juice, coc...",vegetarian,40,60,sweet,dessert,WEST BENGAL,East,3.40,22,20,WB,1530.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Laapsi,"Cinnamon, jaggery, clarified butter, dry roasted",vegetarian,10,40,spicy,main course,MADHYA PRADESH,Central,2.22,41,40,MP,939.2
214,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,MADHYA PRADESH,Central,3.20,2,1,MP,939.2
215,Vindaloo,"Chicken, coconut oil, wine vinegar, ginger, gr...",non vegetarian,10,40,spicy,main course,GOA,West,1.30,4,1,GA,2082.0
216,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,GOA,West,3.20,41,25,GA,2082.0
217,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,GOA,West,4.40,3,1,GA,2082.0

In [20]:
# rename 'ANNUAL' to 'Annual Rainfall (mm)'
indian_food_rainfall_codes_df = indian_food_rainfall_codes_df.rename(columns={'ANNUAL': 'Annual Rainfall (mm)'})
indian_food_rainfall_codes_df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,avg_rating,orders_num,num_rating,State Code,Annual Rainfall (mm)
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,WEST BENGAL,East,4.00,20,10,WB,1530.3
1,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,WEST BENGAL,East,3.00,18,8,WB,1530.3
2,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,WEST BENGAL,East,2.10,30,10,WB,1530.3
3,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,WEST BENGAL,East,3.60,8,2,WB,1530.3
4,Cham cham,"Flour, cream, sugar, saffron, lemon juice, coc...",vegetarian,40,60,sweet,dessert,WEST BENGAL,East,3.40,22,20,WB,1530.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Laapsi,"Cinnamon, jaggery, clarified butter, dry roasted",vegetarian,10,40,spicy,main course,MADHYA PRADESH,Central,2.22,41,40,MP,939.2
214,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,MADHYA PRADESH,Central,3.20,2,1,MP,939.2
215,Vindaloo,"Chicken, coconut oil, wine vinegar, ginger, gr...",non vegetarian,10,40,spicy,main course,GOA,West,1.30,4,1,GA,2082.0
216,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,GOA,West,3.20,41,25,GA,2082.0
217,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,GOA,West,4.40,3,1,GA,2082.0